<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="user/common/head"></head>
<title>个人述职述廉</title>
<link rel="stylesheet" th:href="@{/common/css/personConsultations.css}">
<body>
<!-- vue入口 -->
<div id="app">
    <div :class="'app-wrapper' + sidebarFlag">
        <!-- aside -->
        <div th:replace="user/common/side"></div>

        <!-- container -->
        <el-container class="main-container">
            <!-- header -->
            <div style="background-color: rgb(84, 92, 100);" th:replace="user/common/header"></div>
            <div style="height: 20px;"></div>

            <el-form ref="form" label-width="100px">
                <el-form-item label="文件上传">
                    <input type="file" class="el-button el-button--default" accept=".doc, .docx" id="file">
                </el-form-item>

                <el-form-item label="填报类型">
                    <el-select v-model="value" placeholder="请选择">
                        <el-option
                                v-for="item in my_options"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                        </el-option>
                    </el-select>
                    <el-button @click="onSubmit()">填报</el-button>
                    <a v-if="isSubmit" @click="downloadWord()" class="el-icon-download el-icon--right" style="color:#409eff;">填报文件下载</a>
                </el-form-item>

                <el-form-item label="填报状态:">
                    <span v-if="isSubmit">已填报</span>
                    <span v-else>未填报</span>
                </el-form-item>

                <el-form-item label="开放时间:">
                    <span>{{openTime}}</span>
                </el-form-item>

                <el-form-item label="注意事项:">
                    <span v-html="attention">{{attention}}</span>
                </el-form-item>
            </el-form>

        </el-container>
    </div>
</div>
</body>
<div th:replace="user/common/js"></div>
<script type="text/javascript" th:src="@{/common/js/user/personConsultations.js}"></script>

</html>
