<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="user/common/head"></head>
<title>个人动态</title>
<link rel="stylesheet" th:href="@{/common/css/links.css}">
<body>
<!-- vue入口 -->
<div id="app">
    <div :class="'app-wrapper' + sidebarFlag">
        <!-- aside -->
        <div th:replace="user/common/side"></div>

        <!-- container -->
        <el-container class="main-container">
            <!-- header -->
            <div style="background-color: rgb(84, 92, 100);" th:replace="user/common/header"></div>

            <el-main class="app-main">
            <el-card>
                <el-row :gutter="200">
                    <el-col :xs="24" :sm="12" :lg="24" :span="12" style="padding-bottom: 20px;">
                        <el-card class="card-category">
                            <div slot="header">
                                <span>廉政档案</span>
                            </div>
                            <div class="declaDiv">
                                <table cellpadding="0" cellspacing="0" border="1" bordercolor="grey">
                                    <tr>
                                        <td align="center"><p><b>任免情况</b></p></td>
                                        <td>{{personDecla.renmian}}</td>
                                    </tr>
                                    <tr>
                                        <td align="center"><p><b>人事档案情况</b></p></td>
                                        <td>{{personDecla.renshi}}</td>
                                    </tr>
                                    <tr>
                                        <td align="center"><p><b>因不如实报告个人<br/>有关事项受到处理的情况</b></p></td>
                                        <td>{{personDecla.yinbu}}</td>
                                    </tr>
                                    <tr>
                                        <td align="center"><p><b>巡视视察、信访、案件<br/>监督管理以及其他方面<br/>移交的问题线索和处理情况</b></p></td>
                                        <td>{{personDecla.xunshi}}</td>
                                    </tr>
                                    <tr>
                                        <td align="center"><p><b>开展谈话函询、<br/>初步核实、审查调查、以及<br/>其他工作形成的材料</b></p></td>
                                        <td>{{ personDecla.kaizhan }}</td>
                                    </tr>
                                    <tr>
                                        <td align="center"><p><b>党风廉政意见回复材料</b></p></td>
                                        <td>{{personDecla.dangfeng}}</td>
                                    </tr>
                                    <tr>
                                        <td align="center"><p><b>其他反映廉政情况的材料</b></p></td>
                                        <td>{{personDecla.qita}}</td>
                                    </tr>
                                </table>
                            </div>
                        </el-card>
                    </el-col>
                </el-row>
            </el-card>
        </el-main>
        </el-container>
    </div>
</div>
</body>
<div th:replace="user/common/js"></div>
<script type="text/javascript" th:src="@{/common/js/user/personDecla.js}"></script>
</html>
