<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/common/head"></head>
<title>用户管理</title>
<link rel="stylesheet" th:href="@{/common/css/links.css}">

<body>
    <!-- vue入口 -->
    <div id="app">
        <div :class="'app-wrapper' + sidebarFlag">
            <!-- aside -->
            <div th:replace="admin/common/side"></div>
            <!-- container -->
            <el-container class="main-container">
                <!-- header -->
                <div style="background-color: rgb(84, 92, 100);" th:replace="admin/common/header"></div>

                <!-- main -->
                <el-main class="app-main">
                    <el-card>
                        <h2>用户管理</h2>
                        <!-- 功能按钮 -->
                        <el-row :gutter="20">
                            <el-col :xs="12" :sm="12" :lg="6" :span="6" style="display: flex">
                                <el-input placeholder="请输入姓名或工号查询" size="small" v-model="searchEntity.userNumber"
                                    @keyup.native="search(pageConf.pageCode, pageConf.pageSize)">
                                    <i slot="prefix" class="el-input__icon el-icon-search"></i>
                                </el-input>
                                <el-button @click="search(pageConf.pageCode, pageConf.pageSize)" plain size="small"
                                    style="margin-left:12px;" icon="el-icon-search"></el-button>
                            </el-col>
                            <el-col :xs="12" :sm="12" :lg="6" :span="6" style="float: right;text-align: right">
                                <el-button size="small" plain type="primary" @click="handleAdd" icon="el-icon-plus">
                                    添加
                                </el-button>
                                <el-button type="primary" plain size="small"
                                    @click="search(pageConf.pageCode, pageConf.pageSize)" icon="el-icon-refresh">
                                </el-button>
                            </el-col>
                        </el-row>
                        <br />
                        <!-- 列表 -->
                        <el-table ref="link" :data="users" border tooltip-effect="dark" style="width: 100%">
                            <el-table-column align="center" type="index" width="80"></el-table-column>
                            <el-table-column align="center" prop="userNumber" sortable label="用户工号" width="170" show-overflow-tooltip></el-table-column>
                            <el-table-column align="center" prop="name" sortable label="姓名" width="170" show-overflow-tooltip></el-table-column>
                            <el-table-column align="center" prop="createTime" sortable :formatter="dateFormat"label="创建时间" width="170"></el-table-column>
                            <el-table-column align="center" prop="lastEditTime" sortable :formatter="dateFormat" label="最后编辑时间" width="170"></el-table-column>
                            <el-table-column align="center" prop="enableStatus" sortable label="状态" width="120">
                                <template slot-scope="scope">
                                    <el-tag v-if="scope.row.enableStatus == 1">审核通过</el-tag>
                                    <el-tag type="success" v-if="scope.row.enableStatus == 2">待审核</el-tag>
                                    <el-tag type="danger" v-if="scope.row.enableStatus == 3">未通过审核</el-tag>
                                </template>
                            </el-table-column>
                            <el-table-column label="操作" align="center">
                                <template slot-scope="scope">
                                    <el-button icon="el-icon-delete" size="mini" type="danger" @click="handleDelete(scope.row.id)">删除</el-button>
                                    <el-button style="margin-left:0;" size="mini" icon="el-icon-edit" type="warning" @click="handleChangePasswd(scope.row.id, scope.row.userNumber)">修改密码</el-button>
                                    <el-button style="margin-left:0;" size="mini" icon="el-icon-edit" type="warning" @click="handleEdit(scope.row.id)">编辑信息</el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                        <br />
                        <!-- 分页 -->
                        <div class="pagination">
                            <el-pagination background @size-change="handleSizeChange"
                                @current-change="handleCurrentChange" :current-page="pageConf.pageCode"
                                :page-sizes="pageConf.pageOption" :page-size="pageConf.pageSize"
                                layout="total, sizes, prev, pager, next, jumper" :total="pageConf.totalPage">
                            </el-pagination>
                        </div>
                    </el-card>
                </el-main>
            </el-container>
        </div>
        <!-- 添加用户 -->
        <el-dialog title="添加用户" :visible.sync="addDialog" width="30%" :append-to-body='true'
                   :before-close="handleAddClose">
            <span>
                <el-form :inline="true" :model="addEditor">
                    <el-form-item prop="userNumber" :rules="[{ required: true, message: '请输入教工工号'}]" label="教工工号">
                        <el-input style="width: 200px" v-model="addEditor.userNumber" placeholder="请输入教工工号"></el-input>
                    </el-form-item>
                    <el-form-item prop="userPasswd" :rules="[{ required: true, message: '请输入教工密码'}]" label="教工密码">
                        <el-input style="width: 200px" v-model="addEditor.userPasswd" placeholder="请输入教工密码"></el-input>
                    </el-form-item>
                    <el-form-item prop="name" :rules="[{ required: true, message: '请输入教工姓名'}]" label="教工姓名">
                        <el-input style="width: 200px" v-model="addEditor.name" placeholder="请输入教工姓名"></el-input>
                    </el-form-item>
                </el-form>
            </span>
            <span slot="footer" class="dialog-footer">
                <el-button @click="addDialog = false">取 消</el-button>
                <el-button type="primary" @click="add">确 定</el-button>
            </span>
        </el-dialog>
        <!-- 修改密码 -->
        <el-dialog title="修改密码" :visible.sync="changePasswdDialog" width="30%" :append-to-body='true'
                   :before-close="handleChangePasswdClose">
            <span>
                <el-form :inline="true" ref="passwdEditor" :model="passwdEditor">
                    <el-form-item required prop="userNumber" :rules="[{ required: true, message: '请输入账号'}]" label="用户账号">
                        <el-input style="width: 200px" v-model="passwdEditor.userNumber" placeholder="请输入账号"></el-input>
                    </el-form-item>
                    <el-form-item required prop="userPasswd" :rules="[{ required: true, message: '请输入密码'}]" label="用户密码">
                        <el-input style="width: 200px" v-model="passwdEditor.userPasswd" placeholder="请输入密码"></el-input>
                    </el-form-item>
                </el-form>
            </span>
            <span slot="footer" class="dialog-footer">
                <el-button @click="changePasswdDialog = false">取 消</el-button>
                <el-button type="primary" @click="changePasswd">修 改</el-button>
            </span>
        </el-dialog>
        <!-- 编辑家庭成员 -->
        <el-dialog title="编辑用户家庭成员" :visible.sync="userFamilyDialog" width="75%" :append-to-body='true'
                   :before-close="handleUserFamilyClose">
            <el-card class="card-category">
                <div slot="header">
                    <span>添加家庭成员</span>
                </div>
                <div>
                    <el-form :inline="true" :model="addUserFamilyEditor" class="demo-form-inline">
                        <el-form-item prop="appellation" :rules="[{ required: true, message: '请输入称谓'}]" label="称谓">
                            <el-input style="width: 100px" v-model="addUserFamilyEditor.appellation" placeholder="请输入称谓"></el-input>
                        </el-form-item>
                        <el-form-item prop="userFamilyName" :rules="[{ required: true, message: '请输入姓名'}]" label="姓名">
                            <el-input style="width: 100px" v-model="addUserFamilyEditor.userFamilyName" placeholder="请输入姓名"></el-input>
                        </el-form-item>
                        <el-form-item prop="age" label="年龄">
                            <el-input style="width: 100px" v-model="addUserFamilyEditor.age" placeholder="请输入年龄"></el-input>
                        </el-form-item>
                        <el-form-item prop="politicsStatus" label="政治面貌">
                            <el-input style="width: 150px" v-model="addUserFamilyEditor.politicsStatus" placeholder="请输入政治面貌"></el-input>
                        </el-form-item>
                        <el-form-item prop="workUnitAndPosition" label="工作单位及职务">
                            <el-input style="width: 500px" v-model="addUserFamilyEditor.workUnitAndPosition" placeholder="请输入工作单位及职务"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="success" @click="addUserFamily">添加</el-button>
                        </el-form-item>
                    </el-form>
                </div>
            </el-card>
            <el-card class="card-category">
                <div slot="header">
                    <span>家庭成员信息</span>
                </div>
                <!-- 列表 -->
                <el-table ref="link" :data="families" border tooltip-effect="dark" style="width: 100%">
                    <el-table-column prop="id" align="center" sortable label="编号" show-overflow-tooltip width="80">
                        <template slot-scope="{row,$index}">
                            <span>{{$index + 1}}</span>
                        </template>
                    </el-table-column>
                    <el-table-column align="center" prop="appellation" label="称谓" width="100" show-overflow-tooltip></el-table-column>
                    <el-table-column align="center" prop="userFamilyName" label="姓名" width="100" show-overflow-tooltip></el-table-column>
                    <el-table-column align="center" prop="age" label="年龄" width="80" show-overflow-tooltip></el-table-column>
                    <el-table-column align="center" prop="politicsStatus" label="政治面貌" width="150" show-overflow-tooltip></el-table-column>
                    <el-table-column align="center" prop="workUnitAndPosition" label="工作单位及职务" width="300" show-overflow-tooltip></el-table-column>
                    <el-table-column label="操作" align="center">
                        <template slot-scope="scope">
                            <el-button icon="el-icon-delete" size="mini" type="danger" @click="handleUserFamilyDelete(scope.row.id)">删除</el-button>
                            <el-button style="margin-left:0;" size="mini" icon="el-icon-edit" type="warning" @click="handleUserFamilyEdit(scope.row.id)">编辑</el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </el-card>
        </el-dialog>
        <!-- 修改家庭成员 -->
        <el-dialog title="修改密码" :visible.sync="userFamilyEditDialog" width="30%" :append-to-body='true'
                   :before-close="handleUserFamilyEditClose">
            <span>
                <el-form :inline="true" :model="userFamilyEditor" class="demo-form-inline">
                    <el-form-item prop="appellation" :rules="[{ required: true, message: '请输入称谓'}]" label="称谓">
                        <el-input style="width: 100px" v-model="userFamilyEditor.appellation" placeholder="请输入称谓"></el-input>
                    </el-form-item>
                    <el-form-item prop="userFamilyName" :rules="[{ required: true, message: '请输入姓名'}]" label="姓名">
                        <el-input style="width: 100px" v-model="userFamilyEditor.userFamilyName" placeholder="请输入姓名"></el-input>
                    </el-form-item>
                    <el-form-item prop="age" label="年龄">
                        <el-input style="width: 100px" v-model="userFamilyEditor.age" placeholder="请输入年龄"></el-input>
                    </el-form-item>
                    <el-form-item prop="politicsStatus" label="政治面貌">
                        <el-input style="width: 150px" v-model="userFamilyEditor.politicsStatus" placeholder="请输入政治面貌"></el-input>
                    </el-form-item>
                    <el-form-item prop="workUnitAndPosition" label="工作单位及职务">
                        <el-input style="width: 400px" v-model="userFamilyEditor.workUnitAndPosition" placeholder="请输入工作单位及职务"></el-input>
                    </el-form-item>
                </el-form>
            </span>
            <span slot="footer" class="dialog-footer">
                <el-button @click="userFamilyEditDialog = false">取 消</el-button>
                <el-button type="primary" @click="userFamilyEdit">修 改</el-button>
            </span>
        </el-dialog>

        <!-- 编辑个人信息 -->
        <el-dialog title="编辑个人信息" :visible.sync="editDialog" width="65%" :append-to-body='true'
                   :before-close="handleEditClose">
            <el-card class="card-category">
                <div slot="header">
                    <span>编辑个人信息</span>
                    <el-button size="small" style="float:right" plain type="primary" @click="downloadWord">导出用户个人信息</el-button>
                    <el-button size="small" style="float:right" plain type="primary" @click="downloadWordResult">导出用户廉政信息</el-button>
                    <el-button size="small" style="float:right" plain type="primary" @click="handleUserFamily">编辑家庭成员</el-button>
                    <el-button size="small" style="float:right" plain type="primary" @click="edit">更 新</el-button>
                    <el-button size="small" style="float:right" plain type="primary" @click="editDialog = false">取 消</el-button>
                </div>
                <span>
                    <el-form id="userInfoForm" :inline="true" :model="editor">
                        <div class="avatar-uploader" style="float:right">
                            <img v-if="editor.avatar" :src="editor.avatar" style="width: 150px; height: 250px">
                            <div class="el-upload__text">点我上传本地头像</div>
                            <input type="file" id="avatarInput" class="input-file" ref="avatarInput" @change="handleFileChange($event)" accept="image/gif,image/jpeg,image/jpg,image/png">
                        </div>
                        <div style="float:left">
                            <el-form-item prop="name" label="姓名">
                                <el-input style="width: 100px" v-model="editor.name"></el-input>
                            </el-form-item>
                            <el-form-item label="性别">
                                <el-select v-model="editor.gender" style="width: 120px" placeholder="请选择性别">
                                    <el-option label="男" value="男"></el-option>
                                    <el-option label="女" value="女"></el-option>
                                </el-select>
                            </el-form-item>
                            <el-form-item prop="dateOfBirth" label="出生年月">
                                <el-date-picker v-model="editor.dateOfBirth" style="width: 120px" type="month" format="yyyy.MM" value-format="yyyy.MM" placeholder="选择年月"></el-date-picker>
                            </el-form-item><br/>
                            <el-form-item prop="nation" label="民族">
                                <el-input style="width: 100px" v-model="editor.nation"></el-input>
                            </el-form-item>
                            <el-form-item prop="nativePlace" label="籍贯">
                                <el-input style="width: 120px" v-model="editor.nativePlace"></el-input>
                            </el-form-item>
                            <el-form-item prop="placeOfBirth" label="出生地&emsp;">
                                <el-input style="width: 150px" v-model="editor.placeOfBirth"></el-input>
                            </el-form-item><br/>

                             <el-form-item prop="dianhua" label="电话">
                                <el-input style="width: 100px" v-model="editor.dianhua"></el-input>
                            </el-form-item>
                            <el-form-item prop="dizhi" label="地址">
                                <el-input style="width: 120px" v-model="editor.dizhi"></el-input>
                            </el-form-item>
                            <el-form-item prop="shenfenzheng" label="身份证&emsp;">
                                <el-input style="width: 150px" v-model="editor.shenfenzheng"></el-input>
                            </el-form-item><br/>




                            <el-form-item prop="dateOfJoinParty" label="入党时间">
                                <el-date-picker v-model="editor.dateOfJoinParty" style="width: 120px" type="month" format="yyyy.MM" value-format="yyyy.MM" placeholder="选择年月"></el-date-picker>
                            </el-form-item>
                            <el-form-item prop="dateOfJoinWork" label="参加工作时间">
                                <el-date-picker v-model="editor.dateOfJoinWork" style="width: 120px" type="month" format="yyyy.MM" value-format="yyyy.MM" placeholder="选择年月"></el-date-picker>
                            </el-form-item>
                            <el-form-item prop="physicalCondition" label="健康状况">
                                <el-input style="width: 100px" v-model="editor.physicalCondition"></el-input>
                            </el-form-item><br/>
                        </div>
                        <el-form-item prop="technicalPosition" label="专业技术职务">
                            <el-input style="width: 200px" v-model="editor.technicalPosition"></el-input>
                        </el-form-item>
                        <el-form-item prop="familiarMajorAndSpecialty" label="熟悉专业有何专长">
                            <el-input style="width: 300px" v-model="editor.familiarMajorAndSpecialty"></el-input>
                        </el-form-item><br/>
                        <el-form-item prop="fullTimeDegree" label="全日制学历学位">
                            <el-input style="width: 200px" v-model="editor.fullTimeDegree"></el-input>
                        </el-form-item>
                        <el-form-item prop="fullTimeGraduatedUniversityAndMajor" label="全日制毕业院校系及专业">
                            <el-input style="width: 300px" v-model="editor.fullTimeGraduatedUniversityAndMajor"></el-input>
                        </el-form-item><br/>
                        <el-form-item prop="partTimeDegree" label="在职学历学位&emsp;">
                            <el-input style="width: 200px" v-model="editor.partTimeDegree"></el-input>
                        </el-form-item>
                        <el-form-item prop="partTimeGraduatedUniversityAndMajor" label="在职毕业院校系及专业&emsp;">
                            <el-input style="width: 300px" v-model="editor.partTimeGraduatedUniversityAndMajor"></el-input>
                        </el-form-item><br/>
                        <el-form-item prop="currentPosition" label="现任职务&emsp;&emsp;">
                            <el-input style="width: 500px" v-model="editor.currentPosition"></el-input>
                        </el-form-item><br/>
                        <el-form-item prop="rewardsAndPunishment" label="奖惩情况&emsp;&emsp;">
                            <el-input type="textarea" style="width: 500px" autosize placeholder="请输入内容" v-model="editor.rewardsAndPunishment"></el-input>
                        </el-form-item>
                        <el-form-item prop="annualAssessmentResults" label="年度考核结果">
                            <el-input type="textarea" style="width: 500px" autosize placeholder="请输入内容" v-model="editor.annualAssessmentResults"></el-input>
                        </el-form-item>
                        <el-form-item prop="resume" label="简历">
                            <el-input type="textarea" style="width: 550px" autosize placeholder="请输入内容" v-model="editor.resume"></el-input>
                        </el-form-item>
                    </el-form>
            </el-card>
        </el-dialog>
    </div>
</body>
<div th:replace="admin/common/js"></div>
<script type="text/javascript" th:src="@{/common/js/admin/user.js}"></script>

</html>