<div class="page-loader" ref="loader">
    <div class="page-loader__spinner">
        <svg viewBox="25 25 50 50">
            <circle cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
        </svg>
    </div>
</div>
<div @click="drawerClick" v-if="sidebarStatus == true && mobileStatus == true" class="drawer-bg"></div>
<div class="sidebar-container el-scrollbar">
    <div class="scrollbar-wrapper el-scrollbar__wrap">
        <div id="app" class="el-scrollbar__view" style="background-color: rgb(48, 65, 86);">
            <el-aside style="background-color: rgb(48, 65, 86);width: auto !important;" show-timeout="200">
                <el-menu unique-opened :default-active="defaultActive" :collapse="!sidebarStatus" background-color="rgb(48, 65, 86)" text-color="#fff">
                    <a href="/user/index">
                        <el-menu-item index="1">
                            <i class="fa fa-home fa-fw"></i>
                            <span slot="title">首页</span>
                        </el-menu-item>
                    </a>
                    <a href="/user/info">
                        <el-menu-item index="2">
                            <i class="fa fa-pencil-square-o fa-fw"></i>
                            <span slot="title">个人信息管理</span>
                        </el-menu-item>
                    </a>
                    <el-submenu index="3">
				        <template slot="title">
				          <i class="el-icon-location"></i>
				          <span>廉政档案</span>
				        </template>
				        <el-menu-item-group>
				          <a href="/user/personDecla"><el-menu-item index="3-1">纪检有关材料填报</el-menu-item></a>
				          <a href="/user/cleanArchive"><el-menu-item index="3-2">个人动态信息申报</el-menu-item></a>
				        </el-menu-item-group>
				    </el-submenu>
                    <!-- <a href="/user/personDecla">
                        <el-menu-item index="3">
                            <i class="fa fa-pencil-square-o fa-fw"></i>
                            <span slot="title">廉政档案</span>
                        </el-menu-item>
                    </a>
                    <a href="/user/cleanArchive">
                        <el-menu-item index="4">
                            <i class="fa fa-pencil-square-o fa-fw"></i>
                            <span slot="title">个人动态信息申报</span>
                        </el-menu-item>
                    </a> -->
                    <a href="/user/personConsultations">
                        <el-menu-item index="4">
                            <i class="fa fa-pencil-square-o fa-fw"></i>
                            <span slot="title">个人述廉</span>
                        </el-menu-item>
                    </a>
                </el-menu>
            </el-aside>
        </div>
    </div>
    <div class="el-scrollbar__bar is-horizontal">
        <div class="el-scrollbar__thumb" style="transform: translateX(0%);"></div>
    </div>
    <div class="el-scrollbar__bar is-vertical">
        <div class="el-scrollbar__thumb" style="transform: translateY(0%);"></div>
    </div>
</div>