<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iotlab.integrityarchives.dao.CleanArchiveDao">
    <resultMap id="CleanArchiveResult" type="com.iotlab.integrityarchives.entity.CleanArchive">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="name" property="userName"/>
        <result column="shoushou" property="shoushou"/>
        <result column="geren" property="geren"/>
        <result column="peiou" property="peiou"/>
        <result column="zaiqi" property="zaiqi"/>
        <result column="shifou" property="shifou"/>
        <result column="niandu" property="niandu"/>
        <result column="yinsi" property="yinsi"/>
        <result column="create_time" property="createTime"/>
        <result column="last_edit_time" property="lastEditTime"/>
        <result column="enable_status" property="enableStatus"/>
    </resultMap>

    <select id="findListByWord" parameterType="string" resultMap="CleanArchiveResult">
       select tca.*,tu.name
        from tb_clean_arichive  tca,tb_user tu
        where tca.user_id=tu.id and tu.name LIKE CONCAT('%', #{word}, '%')
    </select>

    <select id="findAllList" parameterType="string" resultMap="CleanArchiveResult">
        select tca.*,tu.name
        from tb_clean_arichive  tca,tb_user tu
        where tca.user_id=tu.id
    </select>

    <select id="findByUserId" parameterType="Integer" resultMap="CleanArchiveResult">
        select tca.*,tu.name
        from tb_clean_arichive  tca,tb_user tu
        where tca.user_id=tu.id and tca.user_id=#{userId}
    </select>

    <select id="findById" parameterType="Integer" resultMap="CleanArchiveResult">
        select tca.*,tu.name
        from tb_clean_arichive  tca,tb_user tu
        where tca.user_id=tu.id and tca.id=#{id}
    </select>







</mapper>
