<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.iotlab.integrityarchives.dao.UserFamilyDao">
    <resultMap id="UserFamilyResult" type="com.iotlab.integrityarchives.entity.UserFamily">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="appellation" property="appellation"/>
        <result column="name" property="name"/>
        <result column="age" property="age"/>
        <result column="politics_status" property="politicsStatus"/>
        <result column="work_unit_and_position" property="workUnitAndPosition"/>
        <result column="create_time" property="createTime"/>
        <result column="last_edit_time" property="lastEditTime"/>
    </resultMap>








</mapper>
